@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  font-family: "Plus Jakarta Sans";
}

html,
body,
#root {
  height: 100%;
}

.app-container {
  max-width: 500px;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
  color: #fff;
  /* background-image: url('https://c.tenor.com/0xn-VNFkApYAAAAC/21-pizza.gif'); */
  /* background-size: cover; */
  margin: 0 auto;
}

.main {
  position: relative;
  border: 2px solid #eee;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  height: calc(100% - 64px);
}

.container-body {
  display: block;
  height: calc(100% - 300px);
  overflow: auto;
}


@media (max-height: 667px) {
  .container-body {
    height: 390px;
  }


}